<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'src/output.css'%}">
    <link rel="stylesheet" href="{% static 'src/animation.css'%}">

    {% load static %}
    <script src="{% static 'src/htmx.min.js'%}"></script>
    <title>Daniel Rechtman</title>
    {% include "components/navbar.html" %}

    <script defer src="{% static 'src/SearchItem.js' %}"></script>
</head>

<body
 hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-gray-700   ">

<!--    {% if user.is_authenticated %}
        <p>You are signed in as {{user.username}}</p>
    {%endif%}

-->
  
    {% block content %}
    
    {% endblock %}
    

</body>

</html>