<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'src/output.css'%}">

    {% load static %}
    <script src="{% static 'src/htmx.min.js'%}"></script>
    <title>Document</title>
    {% include "components/navbar.html" %}
</head>

<body
 hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="bg-slate-200">


    {% block content %}
    
    {% endblock %}
  
</div>

</body>

</html>