
details[open] summary + p {
    animation: sweep 1s ease-in-out;

}
nav li {
    /* background-color: #e0ffff; */
    transition: ease-in 0.25s;
}
.vert {
    transform: rotate(-90deg);
    transform-origin: 0 0;
    margin-top: 100px;
   
    /* display: flex; */
    /* flex-flow: column wrap; */


}
.svg-scale {
    transform: scale(0.5);
}

.background-gradient {
    background: rgb(19,78,74);
background: linear-gradient(180deg, rgba(19,78,74,1) 0%, rgba(55,65,81,1) 35%, rgba(0,0,0,1) 100%);
}

.max-chars{
    max-width:250px;
    word-wrap:break-word;
}

.wrap {
    text-wrap: wrap;
    max-width:110px;

}

@keyframes Skills {
    0% { transform: scale(1);}
    100% {
        z-index: 1000;
        transform: scale(2);
    
    
    }
}

.animation-skills:hover {
    animation: Skills 1s;
    animation-fill-mode: forwards;
}




@keyframes menuBar {
    0% { transform: scale(1);}
    100% { transform: translateY(-10px);transform: scale(1.5);}
}
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
}


@keyframes EaseIn {
    0% {opacity: 0; transform: scale(0);}

    50% {opacity: 0.75;}

    100% {opacity: 1; transform: scale(1);}
}

.onLoad {
    animation: EaseIn 1s;
}