<a href="{% url 'watching' %}">Go Back</a>

{% for movie in movies %}
<li hx-post="{% url 'addMovie' %}" hx-include="[name='movie{{forloop.counter0}}'],[name='title{{forloop.counter0}}']" class="flex flex-row items-center rounded-md bg-white border-2 drop-shadow-xl gap-4">
    
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="" class="justify-start h-16">
    <p>{{ forloop.counter0  }}</p>
    <p>{{movie.title}}</p>
    <input type="hidden" name="movie{{forloop.counter0}}" value="{{ movie.id }}">
    <input type="hidden" name="title{{forloop.counter0}}" value="{{ movie.title }}">

    <div>
        <h2>Summary:</h2>
        <p>{{movie.overview}}</p>
    </div>
</li>

{% endfor %}