<nav class="flex items-center justify-center flex-wrap rounded-b-sm bg-slate-200 pt-2 pb-2 drop-shadow-md">
  <ul>
    <div class="">
      <li><a href="/" class="font-serif font-bold tracking-widest text-3xl text-center">Daniel Rechtman</a></li>
      <li class="tracking-tighter text-center"><a href="#" class="text-center" >Blog</a></li>
      <li class="tracking-tighter text-center"> <a href="/YoutubePage" class="">Youtube Transcript Tool</a></li>
      <li class="tracking-tighter text-center"> <a href="/YoutubePage/GetAll" class="">List of All Transcripts</a></li>
      {%if user.is_authenticated %}
        <li class="tracking-tighter text-center"> <a href="accounts/logout/" class="">Logout</a></li>
      {%else%}
        <li class="tracking-tighter text-center"> <a href="accounts/google/login/?next=/" class="">Login</a></li>
      {%endif%}
    </div>
  </ul>
  
 
  
</nav>


