<a href="{% url 'watching' %}">Go Back</a>
<ul class="onLoad">

    {% for tv in tvs %}
    <li hx-post="{% url 'addMovie' %}" hx-include="[name='tv{{forloop.counter0}}'],[name='original_name{{forloop.counter0}}'],[name='url{{forloop.counter0}}']" class="flex flex-row items-center rounded-md bg-white border-2 drop-shadow-xl gap-4">
        
        <img src="https://image.tmdb.org/t/p/w500/{{tv.poster_path}}" alt="" class="justify-start h-16">

        <p class="title">{{tv.original_name}}</p>
       
        <input type="hidden" name="url{{forloop.counter0}}" value="https://image.tmdb.org/t/p/w500/{{tv.poster_path}}">

        <input type="hidden" name="tv{{forloop.counter0}}" value="{{ tv.id }}">

        

        <input type="hidden" name="original_name{{forloop.counter0}}" value="{{ tv.original_name }}">

        <div>
            <h2>Summary:</h2>
            <p>{{tv.overview}}</p>
        </div>
    </li>

    {% endfor %}

</ul>