{% extends "base.html" %}

{% block content %}
<!--
<main class="flex flex-col text-center p-10">
    <div id="parent">
        <p>Search for a movie and add it to your watch list</p>
        <input type="search"  class="mb-2" hx-boost='true' hx-post='/movies' hx-target='#parent' hx-swap="outerHTML" name="Search" hx-trigger="keyup[keyCode==13] "/>

        <p>Search for a TV Show and add it to your watch list</p>
        <input type="search"  class="mb-2" hx-boost='true' hx-post='/tvshow' hx-target='#parent' hx-swap="outerHTML" name="Search" hx-trigger="keyup[keyCode==13]"/>
    </div>



    <div hx-trigger="load" hx-get="{% url 'GetUserWatching' %}" hx-target="this" hx-swap="innerHTML">

    </div>
</main>

-->
<section class=" container mx-auto p-6">
    <div class="flex flex-col gap-4">
        <form  hx-boost='true' hx-post='/getresults' hx-target='#results' hx-swap="innerHTML" hx-trigger="submit">
            <div class="relative">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class=" absolute left-2.5 top-2.5 h-4 w-4 text-zinc-500 dark:text-zinc-400">
                    <circle cx="11" cy="11" r="8"></circle>
                    <path d="m21 21-4.3-4.3"></path>
                </svg>
                <input
                    class="flex h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 pl-8 w-full"
                    placeholder="Search values..." type="search" name="Search" />
            </div>

            <fieldset>
                <legend>Choose Category</legend>

                <input type="radio" id="tvshow" name="type" value="T" required />
                <label for="tvshow">TV Show</label><br />

                <input type="radio" id="movie" name="type" value="M" />
                <label for="movie">Movie</label><br />

                
            </fieldset>
            



        </form>

        <div hx-trigger="revealed" hx-get="{% url 'GetEntertainment' index_id=1 %}"  hx-swap="afterend">

        </div>
    </div>
</section>

{% endblock %}