{% extends "base.html" %}

{% block content %}
<div class="text-slate-800 w-screen h-screen">
    <div class="flex flex-col items-center gap-4 p-4">

        <a href="mailto:dannyrechtman@gmail.com">dannyrechtman@gmail.com</a>
        <div
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-100 dark:border-gray-100">

            <h2 class="font-bold">
                Who Am I?
            </h2>
            <p>I'm Daniel Rechtman, a computer science enthusiast with a strong educational background, including a
                French Immersion High School Degree and a Bachelor of Science in Computer Science from York University,
                Toronto. I'm your go-to person for all things tech! I'm well-versed in programming languages like HTML,
                CSS, JavaScript, Python, Java, C#, SQL, and PHP, and I love working with frameworks such as React,
                Django, FastAPI, HTMX, Tailwind, and Selenium. Currently, I'm rocking it as an Associate Quality
                Engineer at Telus Health, where I dive into Agile ceremonies, create automated test cases, perform
                performance testing, integrate SQL solutions, and boost DevOps processes. With my tech skills and
                proactive approach, I'm ready to tackle any tech challenge that comes my way!</p>
        </div>
        <hr class="w-11/12 border-2 rounded-md border-black  drop-shadow-xl"/>
        <h2 class="font-semibold">Tools</h2>
        <div
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-white dark:bg-gray-100 dark:border-gray-100 ">
            <a href="/YoutubePage" class="hover:text-blue-800">Make a transcription of a Youtube Video by Entering the
                URL</a>
        </div>
        <div
            class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-white dark:bg-gray-100 dark:border-gray-100 ">
            <a href="/YoutubePage/GetAll" class="hover:text-blue-800"> List of all Previously Transcripted Videos</a>
        </div>

    </div>

</div>


{% endblock %}